<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="css-selector relative flex min-h-screen flex-col justify-center overflow-hidden py-6">
        <div class="mx-auto flex flex-col items-center justify-center sm:py-0 sm:px-0">
          <div class="w-screen rounded-lg bg-white p-4 shadow-lg sm:max-w-md md:mt-0 xl:p-0">
            <div class="space-y-4 p-6 sm:p-8 md:space-y-6">
              <a href="#" class="mb-6 flex items-center text-2xl font-semibold text-gray-900">
                <img class="h-8 w-32" src="/static/logo.svg" alt="logo" />
                <div class="text-gray-800"></div>
              </a>
              <h1 class="text-2xl font-bold leading-3 text-gray-900">Welcome back</h1>
              <h2 class="pb-6 text-sm leading-3 tracking-tight text-gray-400">Enter your account email and password to login</h2>
              <form class="space-y-4 md:space-y-6" method="POST" action="/login">
                <div>
                  <div>
                    <!-- {{ if .Error }} -->
                    <div class="bg-red-100 border-t border-b border-red-500 text-red-700 px-4 py-3 mb-4" role="alert">
                      <p class="font-bold">Login Failed</p>
                      <p class="text-sm">Incorrect username or password</p>
                    </div>
                    <!-- {{ end }} -->
                  </div>
                  <label for="email" class="mb-2 block text-xs font-medium text-gray-600">Email address</label>
                  <input type="email" name="email" id="email" class="focus:ring-primary-600 focus:border-primary-600 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 sm:text-sm" placeholder="name@company.com" required="" />
                </div>
                <div>
                  <label for="password" class="mb-2 block text-xs font-medium text-gray-600">Password</label>
                  <input type="password" name="password" id="password" placeholder="••••••••" class="focus:ring-primary-600 focus:border-primary-600 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 sm:text-sm" required="" />
                </div>
                <div class="flex items-end justify-between">

                  <a href="#" class="text-sm font-medium text-gray-500 hover:underline">Forgot password?</a>
                </div>
                <button type="submit" class="hover:bg-primary-700 focus:ring-primary-300 w-full rounded-lg bg-black px-5 py-2.5 text-center text-sm font-medium text-white focus:outline-none focus:ring-4">Login</button>
                <p class="text-xs font-light text-gray-500">Don’t have an account yet? <a href="#" class="text-primary-600 font-medium hover:underline">Register</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>

</body>
</html>
